.content {
    max-width: 450px;
    margin: auto;
    background:rgb(57, 63, 58);
    border:rgb(16, 56, 23) solid;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 200px;
    
}
h1{
    font-size: 100px;
    font-family: cursive;
    color: rgba(7, 116, 241, 0.966);
    text-align: center;
    padding: 30px;
    border: 10px rgba(20, 159, 240, 0.507) solid;
}
body { 
    background: rgb(139, 122, 100)
}

.img-responsive{
   width: 100%;
   height: auto;
   border: 5px solid rgba(255, 136, 0, 0.658);
   box-sizing: border-box;
}

.description{
    font-size: 35px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    color: rgba(156, 121, 6, 0.877);
    margin: 2px;
    padding: 10px;
    border: 10px rgba(8, 89, 92, 0.685) solid;
    text-align: center;
}

h4 {
    font-size: 25px;
    text-align: center;
    color: rgb(172, 135, 68);
    max-width: 250px;
    margin: 0 auto;
    background:rgb(16, 56, 23);
    padding: 40px;
}

ul{
    
    background-color: rgb(247, 233, 212);
    border:rgba(8, 89, 92, 0.685) solid;
}

li {
    list-style-type: none;
    display: inline-block;
    background-color: rgb(57, 63, 58);
    box-sizing: content-box;
    padding: 20px ;
}


.navi_bar {
    margin-top: 1px;
    margin-bottom: 1px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
a:visited  { 
    text-decoration: none; 
    color: orange; 
}
a:hover {
    text-decoration: none; 
    color:yellow; 
    font-size: 1.5em;
}
.Contact{
    font-family: "Helvetica Neue",Helvetica,Arial;
}
